.signup {
  .title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    font-size: clamp(1.5rem, 7vw, 4rem);
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;

      label {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      input {
        margin-bottom: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
      }

      .submitButton {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        button {
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }

  .bottomText {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
