.login {
  .title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    font-size: clamp(1.5rem, 7vw, 4rem);
  }
  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
